.finalContext {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size:24px;
    font-variant: small-caps;
}

.finalContext-header {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 1000px;
    margin: 20px;
}

.finalContext-header span {
    align-self: center;
}

.player-wrapper {
    position: relative;
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}
