{
    "presets" : [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
              "targets": {
                "node": "current"
              }
            }
          ],
          "@babel/preset-react"
        ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/proposal-class-properties",
        "@babel/plugin-transform-runtime"
    ]
}
