.questionlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.questionlist span {
    font-size: 20px;
    font-variant: all-small-caps;
}

.questionlist .active {
    background-color: #ffffff;
    border-radius:10px;
}

.questionlist .MuiListItem-button:hover {
    background-color: #ffffff;
    border-radius:10px;
}

.squeze .item .item-hint {
    font-size: 24px;
    font-variant: petite-caps;
}