@font-face {
    font-style: normal;
    font-family: 'Retro';
    src: url('../assets/fonts/retro_gaming.eot');
    src: url('../assets/fonts/retro_gaming.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/retro_gaming.woff2') format('woff2'),
    url('../assets/fonts/retro_gaming.woff') format('woff'),
    url('../assets/fonts/retro_gaming.ttf') format('truetype');
    font-weight: normal;
}