$heightMenu: 50px;

.leveltype {
  display: flex;
}

.leveltype span {
    height: $heightMenu;
    font-size: 16px;
    line-height: $heightMenu;
    text-align: center;
    color: white;
    font-weight: 700;
    background-color: darkgreen;
}

.MuiListItemText-root.active span {
    background-color: red;
}